graph {
    fill-mode: plain;
    fill-color: white, gray;
    padding: 60px;
}

node {
    shape: circle;
    size: 10px;
    fill-mode: gradient-radial;
    fill-color: #00BFFF;
    stroke-mode: none;
    text-font: inconsolata;
    text-size: 8px;
    text-mode: normal;
    text-style: bold;
    text-color: #8A2BE2;
    text-visibility-mode: zoom-range;
    text-visibility: 0, 0.9;
    text-alignment: above;
}

node.root {
    fill-color: #ff55a3;
    size: 15px;
}

node.leaf {
    fill-color: #008000;
    size: 5px;
}

edge {
    arrow-shape: diamond;
    fill-color: gray;
    arrow-size: 6px, 3px;
    text-font: inconsolata;
    text-size: 6px;
    text-mode: hidden;
    text-style: bold;
    text-color: #FF2052;
    text-visibility-mode: zoom-range;
    text-visibility: 0, 0.9;
    text-alignment: along;
}

edge.root {
    fill-color: #ff55a3;
}

edge.leaf {
    fill-color: #008000;
}

sprite {
    shape: circle;
    size: 3px;
    fill-mode: plain;
    fill-color: #ff55a3;
    stroke-mode: none;
}